/LimitOrderBookUtilities/bin
/LimitOrderBookUtilities/obj
/LimitOrderBookSimulation/bin
/LimitOrderBookSimulation/obj
/CommandLineTool/bin
/CommandLineTool/obj
/.vs/LimitOrderBookSimulator/v15
/LimitOrderBookRepositories/bin
/LimitOrderBookRepositories/obj
